body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #74AFAD
}

a {
  color: #00B7FF;
}

h1 {
	color: #7D1935
}

#main-title {
	font-size: 60px;
  font-family: "Open Sans";
  font-style: italic;
  color: #B81D18;
}

.nxt-btn {
	position: absolute;
	bottom: 30px;
	width: 15%;
	color: #B81D18;
	background-color: #4B4D52;
}