<header>
	<h1 id="main-title">TREEHACKS SCHEDULER</h1>
</header>

<div>
	<div>
		<h3>Choose Your Major</h3>

		<form id="choose-major">
  		<input type="text" id="search-major" class="form-control" placeholder="Pick your major..." autocomplete="off" />
		</form>
	</div>

	<div>
		<button id="go-btn" class="btn btn-lg nxt-btn" type="button"> 
			<span class = "glyphicon glyphicon-chevron-right"/>
		</button>
	</div>
</div>

<!-- Libraries -->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>  
<script type="text/javascript" src="/javascripts/search-bar-module.js"></script> 
<script type="text/javascript" src="/javascripts/getClass.js"></script> 
<script type="text/javascript" src="/javascripts/front_page.js"></script> 
