<header>
    <h1 id="main-title">TREEHACKS SCHEDULER</h1>
</header>

<div>
    <div>
        <h1 >Welcome to the Scheduler!!</h1>
        <a href="/courses">
            <button class="btn btn-lg nxt-btn" type="button"> 
            	<span class = "glyphicon glyphicon-chevron-right"/>
            </button>
        </a>
    </div>
</div>

<!-- Libraries -->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>  
<script type="text/javascript" src="/javascripts/sample_script.js"></script> 
