<div id="class-up-close" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"></h4>
      </div>

      <div class="modal-body">
        <p>Class Description</p>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Delete Course</button>
      </div>

    </div>
  </div>
</div>
  
<div>
	<div id="enter-class-bar">
		<h3>What classes have you taken?</h3>

		<form id="choose-class">
  		<input type="text" id="search-class" class="form-control" placeholder="Enter a class..." autocomplete="off" />
		</form>
	</div>
</div>

<div>
		<button id="go-btn" class="btn btn-lg nxt-btn" type="button">
			<span class = "glyphicon glyphicon-chevron-right"/>
		</button>
	</div>
</div>


<!-- Libraries -->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>  
<script type="text/javascript" src="/javascripts/search-bar-module.js"></script> 
<script type="text/javascript" src="/javascripts/js/bootstrap.js"></script> 
<script type="text/javascript" src="/javascripts/pick-classes.js"></script> 