<header>
  <h1>Sample Page</h1>
</header>

<div>
	<div>
		<h2><%= major %></h2>
		<a href="/courses">
			<button class="btn btn-lg btn-success main_button" type="button"> Next </button>
		</a>
	</div>
</div>