<header>
    <h1>Scheduling</h1>
</header>

<div>
	<ul id="unsorted" class="connectedSortable">
		<li>CS 107</li>
		<li>CS 229</li>
		<li>PSYCH 1</li>
	</ul>
</div>
<button type="button" id="testbutton" class="btn btn-lg btn-danger" id="103popover" data-toggle="popover" title="Popover title">Click to toggle popover</button>
<div>
	<table class="table">
		<tr>
			<td>
				<ul id="autumn" class="connectedSortable">
					<li>
						<button type="button" class="btn btn-lg btn-danger" data-toggle="popover" title="Popover title" data-content="<a href = 'www.google.com'> What a class </a>- take it with Keith!">CS 103</button>
					</li>
				</ul>
			</td>
			<td>
				<ul id="winter" class="connectedSortable">
					<li>CS 106A</li>
					<li>Fun IntroSem</li>
				</ul>
			</td>
			<td>
				<ul id="spring" class="connectedSortable">
					<li>BIO 150</li>
					<li>CS 109</li>
				</ul>
			</td>
		</tr>
	</table>
</div>

<!-- Libraries -->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>  
<script type="text/javascript" src="/javascripts/js/bootstrap.js"></script> 
<script type="text/javascript" src="/javascripts/js/jquery-ui.js"></script> 
<script type="text/javascript" src="/javascripts/drag-drop-schedule.js"></script> 
