<header>
    <h1>Scheduling</h1>
</header>

<div id = "unscheduled-bucket" class = "col-md-2 connectedSortable panel">
	<div class="drag-disabled bucket-header">Unused classes</div>
	<!--<div class="list-group-item">CS 107</div> -->
</div>

<div class = "col-md-8">
	<table id = "quarters-table" class="table panel" >
		<thead>
			<th class = "col-md-1"> </th>
			<th class = "col-md-2"> Autumn </th>
			<th class = "col-md-2"> Winter </th>
			<th class = "col-md-2"> Spring </th>
			<th class = "col-md-2"> Summer </th>
		<tr>
			<td>Freshman</td>
			<td id = "autumn1" class = "connectedSortable">
			</td>
			<td id = "winter1" class = "connectedSortable">
			</td>
			<td id = "spring1" class = "connectedSortable">
			</td>
			<td id = "summer1" class = "connectedSortable">
			</td>
		</tr>
		<tr>
			<td>Sophomore</td>
			<td id = "autumn2" class = "connectedSortable">

			</td>
			<td id = "winter2" class = "connectedSortable">

			</td>
			<td id = "spring2" class = "connectedSortable">

			</td>
			<td id = "summer2" class = "connectedSortable">

			</td>
		</tr>
		<tr>
			<td>Junior</td>
			<td id = "autumn3" class = "connectedSortable">

			</td>
			<td id = "winter3" class = "connectedSortable">

			</td>
			<td id = "spring3" class = "connectedSortable">

			</td>
			<td id = "summer3" class = "connectedSortable">

			</td>
		</tr>
		<tr>
			<td>Senior</td>
			<td id = "autumn4" class = "connectedSortable">

			</td>
			<td id = "winter4" class = "connectedSortable">

			</td>
			<td id = "spring4" class = "connectedSortable">

			</td>
			<td id = "summer4" class = "connectedSortable">
			</td>
		</tr>
	</table>
</div>

<script src="/javascripts/js/handlebars-v2.0.0.js"></script>
<script type="text/x-handlebars-template" id="draggable-class-template">
	<div id="course{{databaseId}}" class="list-group-item">
		{{ title }}
		<a href="#" class="remove">&#215;</a> 
	</div>
</script>

<!-- <button type="button" class="btn btn-lg fill" data-toggle="popover" title="Popover title" data-content="<a href = 'www.google.com'> What a class </a>- take it with Keith!">CS 103</button> -->

<!-- Libraries -->
<link rel="stylesheet" href="/stylesheets/scheduling.css">
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>  
<script type="text/javascript" src="/javascripts/js/bootstrap.js"></script> 
<script type="text/javascript" src="/javascripts/js/jquery-ui.js"></script> 
<script type="text/javascript" src="/javascripts/drag-drop-schedule.js"></script> 
